NODE_ENV=local
APP_WORKER_PORT=8001
APP_LOGGING=true
APP_LOG_LEVEL=debug

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nestjs_api

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

AUTH_SECRET=replace-me

QUEUE_REMOVE_ON_COMPLETE=true
QUEUE_REMOVE_ON_FAIL=false
QUEUE_FAILED_RETRY_ATTEMPTS=3

