NODE_ENV=local
APP_NAME=@technabit/backend-api
APP_URL=http://localhost:8000
APP_PORT=8000
APP_DEBUG=false
APP_FALLBACK_LANGUAGE=en
APP_LOGGING=true
APP_LOG_LEVEL=debug
APP_LOG_SERVICE=console
APP_CORS_ORIGIN=http://localhost:3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nestjs_api

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_DEFAULT_EMAIL=noreply@example.com
MAIL_DEFAULT_NAME=No Reply

AUTH_SECRET=replace-me
BASIC_AUTH_USERNAME=admin
BASIC_AUTH_PASSWORD=admin

THROTTLER_ENABLED=false
QUEUE_REMOVE_ON_COMPLETE=true
QUEUE_REMOVE_ON_FAIL=false
QUEUE_FAILED_RETRY_ATTEMPTS=3

SENTRY_DSN=
SENTRY_LOGGING=false

